---
import { FileGetter } from "../components/FileGetter";
import { Title } from "../components/Title";
import Layout from "../layouts/Layout.astro";
---

<Layout title="한국 도시공원 평가 지수 - ParkScore">
  <main>
    <Title
      title="ParkScore Index Custom Rankings"
      subtitle="Customize the weights of each scoring category"
    />
    <FileGetter client:load />
  </main>
</Layout>

<style></style>
