---
import { CityStatus } from "../components/CityStatus";
import { ScoreList } from "../components/ScoreList";
import { ScorePercent } from "../components/ScorePercent";
import { Title } from "../components/Title";
import Layout from "../layouts/Layout.astro";
---

<Layout title="한국 도시공원 평가 지수 - ParkScore">
  <main>
    <div>
      <Title
        title="ParkScore Ranking: 대한민국 85개 도시"
        subtitle="도시와 공원의 현재와 미래를 평가하는 ParkScore: 시민과 지자체를 위한 플랫폼"
      />
      <ScorePercent client:only />
      <ScoreList client:only />
    </div>
    <div class="section">
      <CityStatus client:only />
    </div>
  </main>
</Layout>

<style is:global>
  @import url(./reset.css);
  :root {
    --bg-primary: #008231;
    --bg-black: #1c1c1b;
    --bg-white: #ffffff;
  }
</style>

<style>
  :root {
    --parkscore-left-width: 8rem;
  }
  main {
    display: flex;
  }
  main > div {
    flex: 1;
    padding: 3rem;
  }
  main > div:nth-child(2) {
    background-color: #f5f5f5;
  }
  @media screen and (max-width: 1200px) {
    main {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    :root {
      --parkscore-left-width: 0;
    }
  }
</style>
